
        body {
			  height: 100%;
			  margin: 0;
			  padding: 0;
			  overflow:hidden;
			  background-color:skyblue;
			
}
path{
	fill :lightgreen;
	stroke:black;
	stroke-opacity:0.2;
	
}

h2{
	color:white;
}


.country{
    fill:gray;
    stroke: #150753;
        stroke-width: 0.5;
}
        .towns{
            /* fill: rgba(154, 244, 20, 0.74);
        stroke: rgb(208, 208, 208); */
        stroke-width: 1px;
        /* background-image: url(map.png); */
background-repeat: no-repeat;
width: 25px;
/* height: 20px; */

        }
.city_name{
    fill:white;
    font-size: 15px;
}



